html {
  scroll-behavior: smooth;
  background: #afedc4;
}
body {
  background-color: #62e4a3;
}

header {
  padding:  0 20px 20px 20px;
  margin: 0;
  border: 5px solid rgba(6, 110, 70, 0.781);
}
